/* Navbar */
nav {
  grid-area: nav;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--theme-color-dark);
}

.nav__links {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav__link {
  padding: 0 4rem 0 4rem;
  color: var(--theme-color-light-1);
}

.nav__link:hover {
  color: var(--theme-color-accent-1);
}

/* Main */
main {
  grid-area: main;
}

/* Main - About Me Section */
.about-me-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 4rem 8rem 8rem 8rem;
  background-color: var(--theme-color-light-1);
}

.header-container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-bottom: 9rem;
}

.about-me-section__heading {
  font-size: 80px;
  font-weight: var(--theme-bold-font);
  line-height: 1.2;
}

.about-me-section__subheading {
  width: fit-content;
  font-size: 22px;
}

.subheading-container {
  display: flex;
  justify-content: space-between;
}

.social-links-container {
  display: flex;
}

.social-links-container a:first-child {
  padding-right: 1rem;
}

.social-link__icon {
  transition: 0.2s linear;
}

.social-link__icon:hover {
  transform: translateY(-5px);
}

.bio-container {
  display: flex;
  align-self: center;
  justify-content: space-around;
  align-items: center;
  width: fit-content;
  margin-bottom: 9rem;
}

.about-me-section__bio-headshot {
  width: 20rem;
}

.about-me-section__bio-card {
  width: 30rem;
  padding: 1rem;
  border: solid black 3px;
  border-radius: 12px;
  box-shadow: 5px 5px var(--theme-color-accent-1);
}

.contact-button-wrapper {
  align-self: center;
  margin-bottom: 9rem;
}

.about-me-section__contact-button {
  display: flex;
  align-items: center;
  transform: skewX(-15deg);
  padding: 1.5rem 4rem 1.5em 4rem;
  font-size: 18px;
  font-weight: var(--theme-bold-font);
  background-color: var(--theme-color-dark);
  color: var(--theme-color-light-1);
  border: none;
  box-shadow: 6px 6px var(--theme-color-accent-1);
  transition: box-shadow 0.2s linear;
  cursor: pointer;
}

.about-me-section__contact-button:hover {
  box-shadow: 9px 9px var(--theme-color-accent-1);
}

.contact-button__hand-wave {
  margin-left: 1rem;
  font-size: 20px;
  animation-name: wave-hand;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

/* Main - Skills section */
.skills-section {
  display: flex;
  justify-content: center;
  background-color: black;
}

.skills-section-underlay {
  height: 6rem;
  background-color: var(--theme-color-light-1);
}

.skills-section-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 35rem;
  width: 85%;
  margin-top: -6rem;
  background-color: var(--theme-color-light-1);
  border: solid black 10px;
  border-radius: 24px;
  box-shadow: 0px -10px 25px 10px #00000033;
}

.skills-section__title {
  margin-top: 1rem;
}

.skill-cards-container {
  display: flex;
  flex-direction: column;
}

.skill-cards-container__row {
  display: flex;
}

.skills-section__skill-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  padding: 2rem;
  background-color: var(--theme-color-light-1);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 8px;
}

.skill-card__logo {
  transition: transform 0.2s linear;
}

.skills-section__skill-card:hover .skill-card__logo {
  transform: translateY(-10px);
}

.skill-card__label {
  margin-top: 1rem;
}

/* Footer */
footer {
  grid-area: footer;
}

/* Screen size modifications */
@media screen and (max-width: 1056px) {
  .bio-container {
    flex-direction: column; /* Change from row */
  }
}

@media screen and (max-width: 736px) {
  .subheading-container {
    flex-direction: column; /* Change from row */
  }

  .social-links-container {
    padding-top: 1rem; /* Change from 0rem */
  }

  .about-me-section__bio-headshot {
    width: auto; /* Change from 20rem */
  }
  .about-me-section__bio-card {
    width: auto; /* Change from 30rem */
  }
}

/* Animations */
@keyframes wave-hand {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(-25deg);
  }

  20% {
    transform: rotate(60deg);
  }

  /* Delay period */
  30%,
  100% {
    transform: rotate(0deg);
  }
}
