/* Navbar */
nav {
  grid-area: nav;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--theme-color-dark);
}

.nav__links {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav__link {
  padding: 0 4rem 0 4rem;
  color: var(--theme-color-light-1);
}

.nav__link:hover {
  color: var(--theme-color-accent-1);
}

/* Main */
main {
  grid-area: main;
}

/* Main - About Me Section */
.about-me-section {
  background-color: var(--theme-color-light-1);
}

.title-container {
  margin: 4rem 0 0 8rem;
}

.about-me-section__title {
  font-size: var(--theme-font-size-xlarge);
  line-height: 1.2;
}

.about-me-section__subtitle {
  padding: 0;
}

.bio-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin: 8rem 0 8rem 0;
}

.about-me-section__bio-card {
  width: 30rem;
  padding: 1rem;
  border: solid black 3px;
  border-radius: 12px;
  box-shadow: 5px 5px var(--theme-color-accent-1);
}

.social-links-container {
  display: flex;
  justify-content: center;
}

.social-link {
  padding: 1rem;
}

/* Footer */
footer {
  grid-area: footer;
}

/* Modifications for screen sizes with a width <= 1200px */
@media screen and (max-width: 1200px) {
  .bio-container {
    flex-direction: column; /* Change from row */
    align-items: center; /* Change from flex-start */
  }
}

/* Modifications for screen sizes with a width <= 800px */
@media screen and (max-width: 800px) {
  .title-container {
    margin: 4rem 3rem 0 3rem; /* Addition of right and left margins */
  }

  .bio-container {
    margin: 8rem 6rem 8rem 6rem; /* Addition of right and left margins */
  }

  .about-me-section__bio-card {
    width: 25rem; /* Reduction of width */
  }
}
