/* Variables */
:root {
  --theme-font: "Kanit", sans-serif;
  --theme-font-size-xlarge: 80px;
  --theme-color-nav: #342e37;
  --theme-color-light: #fafffd;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-areas:
    "nav"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 8fr 1.5fr;
  font-family: var(--theme-font);
  height: 100vh;
}

/* Navbar */
nav {
  grid-area: nav;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--theme-color-nav);
}

.nav__links {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav__link {
  padding: 0 4rem 0 4rem;
  color: var(--theme-color-light);
}

.nav__link:hover {
  color: #48e5c2;
}

/* Main */
main {
  grid-area: main;
}

/* Main - About Me Section */
.about-me-section {
  background-color: var(--theme-color-light);
}

.title-container {
  margin: 4rem 0 0 8rem;
}

.about-me-section__title {
  font-size: var(--theme-font-size-xlarge);
  line-height: 1.2;
}

/* Footer */
footer {
  grid-area: footer;
}
